@import url(./__list/places__list.css);
@import url(./__item/places__item.css);
@import url(./__title/places__title.css);
@import url(./__url-container/places__url-container.css);
@import url(./__url-title/places__url-title.css);
@import url(./__url/places__url.css);
@import url(./__image/places__image.css);
@import url(./__description/places__description.css);


.places {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90%;
  }
}