@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__image-description/lead__image-description.css);

.lead {
  max-width: 984px;
  margin: 56px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width:700px) {
  .lead {
    margin: 48px auto 0;
  }
}