@import url(./__link/header__link.css);
@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_underline/header__lang_underline.css);


.header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
}

@media screen and (max-width:425px) {
  .header {
    padding-top: 16px;
  }
}