.cover__container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  position: relative;
}

@media screen and (max-width:1024px) {
  .cover__container {
    width: 100%;
  }
}

.cover__link {
  text-decoration: none;
  color: #FFFFFF;
}

.cover__link:hover {
  background: #2A2C2F;
  opacity: 0.8;
}

.cover__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  width: min-content;
  margin: 0 auto 32px;
}

@media screen and (max-width: 525px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
  }
}

.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (max-width: 525px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.15;
  }
}

.cover__overlay {
  background: #2A2C2F;
  opacity: 0.3;
  grid-row: 1;
  grid-column: 1;
}

.cover__background {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  z-index: -1;
}
